<div class="navbar bg-base-100">
  <div class="navbar-start">
    <div class="dropdown">
      <div tabindex="0" role="button" class="btn btn-ghost lg:hidden">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-5 w-5"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M4 6h16M4 12h8m-8 6h16"
          />
        </svg>
      </div>
      <ul
        tabindex="0"
        class="menu menu-sm dropdown-content mt-3 z-[1] p-2 shadow bg-base-100 rounded-box w-52"
      >
        <li>
          <a
            href="/lego/sets?theme=Theme1"
            class="<%= (page == '/lego/sets' && theme == 'Theme1') ? 'active' : '' %>"
            >Theme 1</a
          >
          <a
            href="/lego/sets?theme=Theme2"
            class="<%= (page == '/lego/sets' && theme == 'Theme2') ? 'active' : '' %>"
            >Theme 2</a
          >
          <a
            href="/lego/sets?theme=Theme3"
            class="<%= (page == '/lego/sets' && theme == 'Theme3') ? 'active' : '' %>"
            >Theme 3</a
          >
        </li>
      </ul>
    </div>
    <a class="btn btn-ghost text-xl" href="/">Lego Collection</a>
  </div>
  <div class="navbar-center hidden lg:flex">
    <ul class="menu menu-horizontal px-1"></ul>
  </div>
  <div class="navbar-end">
    <a class="btn <%= (page == '/about') ? 'active' : '' %>" href="/about"
      >About</a
    >
  </div>
</div>
