<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About</title>
    <!-- Include Tailwind CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css"
      rel="stylesheet"
    />
    <!-- Include Daisy UI CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/daisyui@1.11.0/dist/full.css"
      rel="stylesheet"
    />
    <!-- Include Custom CSS -->
    <link href="./../public/css/output.css" rel="stylesheet" />
  </head>
  <body>
    <nav>
      <div class="navbar bg-base-100">
        <div class="navbar-start">
          <div class="dropdown">
            <div tabindex="0" role="button" class="btn btn-ghost lg:hidden">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="h-5 w-5"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M4 6h16M4 12h8m-8 6h16"
                />
              </svg>
            </div>
            <ul
              tabindex="0"
              class="menu menu-sm dropdown-content mt-3 z-[1] p-2 shadow bg-base-100 rounded-box w-52"
            >
              <li>
                <a href="/lego/sets?theme=Theme1">Theme 1</a>
                <a href="/lego/sets?theme=Theme2">Theme 2</a>
                <a href="/lego/sets?theme=Theme3">Theme 3</a>
              </li>
            </ul>
          </div>
          <a class="btn btn-ghost text-xl" href="./home.html"
            >Lego Collection</a
          >
        </div>
        <div class="navbar-center hidden lg:flex">
          <ul class="menu menu-horizontal px-1"></ul>
        </div>
        <div class="navbar-end">
          <a class="btn" href="./about.html">About</a>
        </div>
      </div>
    </nav>

    <div class="container mx-auto my-8 lg:my-16">
      <!-- Hero Section -->
      <div class="bg-primary p-8 text-white">
        <h1 class="text-4xl font-bold mb-4">About</h1>
        <p class="text-lg mb-8">All about me.</p>
      </div>

      <!-- Grid of About Content -->
      <div class="grid grid-cols-1 md:grid-cols-2 gap-8 mt-8">
        <!-- Left Column: Image -->
        <div></div>
        <!-- Right Column: Blurb -->
        <div>
          <img
            src="./../assets/ario.png"
            alt="Ario's Image"
            class="w-full md:w-auto"
          />
        </div>
        <div>
          <h2 class="text-2xl font-semibold mb-4">About Me</h2>
          <p class="text-white mb-4">
            Hi, I'm Ario and this is Assignment 1 for Web 322. This semester, I
            took Object-Oriented Programming and Database courses, which have
            helped me on my journey to becoming a full-stack developer.
          </p>
        </div>
      </div>
    </div>
  </body>
</html>
